.formulario-corpo {
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	width: 66%;
	height: 873px;
	margin: 60px auto 100px auto;
}

.formulario-corpo .col-sm-5 {
	margin-left: 141px;
	width: 620px;
}

.ui-panelgrid>*>tr, .ui-panelgrid .ui-panelgrid-cell {
	border: none;
}

li: hover {
	color: #ff0000;
}

.logo {
	position: relative;
	height: 100px;
	left: 50%;
	right: 50%;
	margin: 0 0% 0 50%;
	margin-top: 0px;
	margin-right: 0%;
	margin-bottom: 0px;
	margin-left: -98.4585px;
}

#lado-esquerdo {
	height: 200px;
	width: 200px;
	background-image: url("../images/cor-cinza.png");
}

.ui-layout-unit-content {
	background-color: #eee;
}

.ui-layout-unit {
	background-color: #000040;
}

.btn:hover {
	color: #00BFFF;
}

.ui-widget-content a {
	color: #1E90FF;
}

.font-template-esq a {
	color: white;
}